<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>foo</servlet-name>
        <servlet-class>com.wix.hoopoe.koboshi.app.endpoint.FooEndpoint</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>foo</servlet-name>
        <url-pattern>/foo</url-pattern>
    </servlet-mapping>

    <!-- You need this in your web.xml-->
    <servlet>
        <servlet-name>koboshiRegistry</servlet-name>
        <servlet-class>com.wix.hoopoe.koboshi.servlet.ResilientCacheRegistryEndpoint</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>koboshiRegistry</servlet-name>
        <url-pattern>/koboshi/*</url-pattern>
    </servlet-mapping>
</web-app>